body {
 background-color: lightblue
}
img {
  border-radius: 40%;
}
h1 {
  color: navy;
  margin-left: 20px;
}
h2{ 
    color: azure;
    margin-left: 20px;
}
p {text-emphasis-color: dodgerblue;}
button {
  background-color: lightgreen; 
  border: 2px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.header {
  padding: 10px;
  text-align: center;
  background-color: paleturquoise;
  color: azure;
  font-size: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: paleturquoise;
  color: navy;
  text-align: center;
}
p {
  font-family: monospace;
  font-size: 16px;
}
body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("exclamationmark.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
